.employee-search-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  .search-box {
    margin-bottom: 10px;
  }
  
  input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .employee-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  th {
    background-color: #f4f4f4;
    font-weight: bold;
  }

.suggestions {
  list-style: none;
  padding: 0

}
.search-box {
  position: relative;
  display: inline-block;
}

.suggestions {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 100%; /* Adjust width as needed */
  max-height: 150px; /* Set maximum height for suggestions */
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

.suggestions ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.suggestions li {
  padding: 8px;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #f2f2f2;
}
